@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: Inter;
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/Inter-Regular.woff2') format('woff2');
	}
	@font-face {
		font-family: Inter;
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url('/fonts/Inter-Medium.woff2') format('woff2');
	}
	@font-face {
		font-family: Inter;
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url('/fonts/Inter-Bold.woff2') format('woff2');
	}
}

.split {
	display: flex;
	flex-direction: row;
}

.gutter {
	background-color: #0f172a;
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-horizontal {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
	cursor: col-resize;
}

.script .bold {
	font-weight: 700;
}

.script .underline {
	text-decoration: underline;
}

.script .italic {
	font-style: italic;
}

.script h1 {
	text-align: center;
	margin: 1.3em 0;
	text-decoration: underline;
	font-weight: bold;
	text-transform: uppercase;
}

.script .credit,
.script .authors,
.script .source {
	text-align: center;
}

.script .source {
	padding-top: 1.3em;
}

.script h3,
.slate-scene-header {
	text-transform: uppercase;
	margin-top: 2.6em;
	font-weight: bold;
	position: relative;
	padding-right: 40px;
}

.script .dialogue,
.slate-dialogue {
	margin: 0 auto;
	width: 310px;
}

.script h2,
.slate-transition {
	text-transform: uppercase;
	text-align: right;
}

.script h4,
.slate-character {
	text-transform: uppercase;
	margin: 1.3em auto 0;
	width: 180px;
}

.script .parenthetical {
	margin: 0 auto;
	width: 250px;
}

.script .centered {
	text-align: center !important;
}

.script p,
.slate-dialogue {
	margin: 1.3em auto;
	word-wrap: break-word;
	padding: 0 10px;
}

.script .dual-dialogue {
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.script .dual-dialogue .dialogue {
	width: 228px;
}

.script .dual-dialogue p {
	width: auto;
}

.script .dual-dialogue .character {
	text-align: center;
	padding-left: 40px;
}

.script .dual-dialogue .parenthetical {
	padding-left: 40px;
}

.slate-element {
	position: relative;
}

.slate-control .slate-element::after {
	color: rgb(165 165 165);
	font-size: 11px;
	position: absolute;
	transform: translateX(20px) scale(0.8);
	padding: 1px;
	top: 0;
	bottom: 0;
	background-color: rgb(0 0 0 / 49.3%);
}

.slate-control .slate-raw::after {
	content: 'raw';
}

.slate-control .slate-empty::after {
	content: 'empty';
}

.slate-control .slate-title-element::after {
	content: 'title element';
}

.slate-control .slate-character::after {
	content: 'character';
}

.slate-control .slate-dialogue::after {
	content: 'dialogue';
}

.slate-control .slate-scene-header::after {
	content: 'scene header';
}

.slate-control .slate-transition::after {
	content: 'transition';
}

.slate-control .slate-lyrics::after {
	content: 'lyrics';
}

.slate-control .slate-page-break::after {
	content: 'page break';
}

.slate-control .slate-boneyard::after {
	content: 'boneyard';
}
